<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sesje i ciasteczka</title>
</head>
<body>
<p>

    <a href="/set_session/">ustaw zmienną sesyjną</a><br>
    <a href="/show_session/">pokaz zmienną sesyjną</a><br>
    <a href="/delete_session/">usuń zmienną sesyjną</a><br>

</p>
<p>

    <a href="/set_cookie/">ustaw ciasteczko</a><br>
    <a href="/show_cookie/">pokaz ciasteczko</a><br>
    <a href="/delete_cookie/">usuń ciasteczko</a><br>

</p>

<p>

    <a href="/set_sessionkeyvalue/">ustaw zmienną sesyjną po kluczu</a><br>
    <a href="/show_sessionkeyvalue/">pokaz zmienną sesyjną po kluczu</a><br>
    <a href="/del_sessionkeyvalue/">usuń zmienną sesyjną po kluczu</a><br>

</p>

<p>

    zmienna sesyjna: {{ session }}
    ciasteczko: {{ cookie }}

</p>
{% block content %}

{% endblock %}
</body>
</html>